/*scroll indicator tutorial af w3schools*/
.colors {
    color: rgb(238,92,71);
    color: white;
    color: black;

    color: rgb(134,186,191);
    color: rgb(70,140,140);
    color: rgb(62,89,89);

    color: rgb(252,240,246);
    color: rgb(242,245,245);
    color: rgb(221,235,235);
    color: rgb(207,227,227);
}




.title {
    font-family: 'Roboto', sans-serif; !important;
    font-weight: 900;
    font-size: 4vh;
    margin-top: 100px;
    color: rgb(70,140,140) ;
}

body {

    margin: 0 auto;
    font-size: 3vh;
    line-height: 1.4;
    color: #000;
    text-align: left;
    background-color: #ececec;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 1440px;
}

.row {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    text-align: left;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6vh;
    margin-top: -6px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    max-width: 95%;
}

h2 {
    margin-top: 12px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bolder;
    letter-spacing: 1px;
    max-width: 95%;
}

.subtitel {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    letter-spacing: 1px;
    width: 95%;
    max-width: 95%;
}

.text {
    font-family: Merriweather, serif;
    font-size: 3vh;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 95%;
    max-width: 95%;
}

.greyNote {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 93%;
    color: #3E5959;
    font-size: 2vh
}

.doorImage {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 40%;
    max-width: 93%;
    height: auto;
}

#priceDiv {
    display: flex;
    margin: 0;
    width: 93%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    background-color: #DDEBEB;
}

#priceChart {
    font-family: 'Arial', sans-serif;
    margin: 0;
    width: 93%;
    height: 100%;
    max-height: 700px;
    max-width: 700px;
}

.logo {
    margin: auto;
    width: 9em;
    height: 6em;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    height: 7em;
}

.progress-container {
    opacity: 100%;
    margin-top: -.3%;
    width: 100%;
    height: 1em;
    background: #ececec;
}

.progress-bar {
    height: 1em;
    background: #468C8CFF;
    width: 0%;
}